.container {
  width: 100%;
  max-width: 600px;
}

.popup-container {
  display: none;
}

.popup-container.show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

* {
  box-sizing: border-box;
}

.form-container {
  
  background: white;
 
  
}

.form-title {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.note-form {
  padding: 10px;
  width: 100%;
}

.note-form textarea {
  width: 100%;
}

.Slide-wrapp {
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: block;
  background: #ddd;
  position: relative;
}

.Slide {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  display: flex;
}

.Slide li {
  width: 400px;
  height: 300px;
  margin: 0;
  padding: 0;
}

.slide-animation {
  transition: left 0.3s;
}
